<!-- <clr-header>
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="clr-icon clr-clarity-logo"></span>
        <span class="title">Clarity</span>
      </a>
    </div> -->
<!-- <div class="header-nav" [clr-nav-level]="1">
          <a class="nav-link" href="#" [routerLink]="['/home']" routerLinkActive="active"><span class="nav-text">Home</span></a>
          <a class="nav-link" href="#" [routerLink]="['/about']" routerLinkActive="active"><span class="nav-text">About</span></a>
      </div> -->
<!-- <div class="header-actions">
    </div>
  </clr-header>
  <div class="content-container"> -->
<!-- <div class="content-area">
      <router-outlet></router-outlet>
    </div> -->
<!-- </div> -->

<clr-main-container>
  <header class="header-6">
    <div class="branding">
      <a class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">Distributed Memory Management</span>
      </a>
    </div>
    
  </header>

  <div class="content-container">
    <nav class="sidenav">
      <div class="content-area">
      
        <app-lazy-load (notifier)="toggleVisibilityOfHostDetails($event)"> Loading Lazy App</app-lazy-load>
      
      </div>
    </nav>
    <div class="content-area">
      <clr-tabs>
        <clr-tab>
          <button clrTabLink id="link1"> Details summary </button>
          <clr-tab-content id="content1" *clrIfActive = "true">
            <!-- Hello -->
            
              <div *ngIf="isHostDetailsVisible">
                <app-data-grid [isProvider]="isHostaProvider" [hostIP]="hostIPAddress">Grid Data</app-data-grid>
            
            </div>
          </clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink> Performance </button>
          <clr-tab-content *clrIfActive>
            <div style = "margin-top: 20px"> Graph to be soon implemented here </div>
          </clr-tab-content>
        </clr-tab>

      </clr-tabs>

     
    </div>
  </div>

</clr-main-container>